
/* font-family: 'Raleway',
sans-serif;
font-family: 'Roboto',
sans-serif; */

/* common (main) box */
.common-box {
    background-color: #fff;
}

/* верхній рядок */
.top-line {
    /* width: 1600px; */
    height: 80px;
    /* background-color: #fff; */
    display: flex;
    flex-direction: row;
}


.logo-top {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;

    margin-top: 24px;
    margin-left: 215px;
    text-decoration: none;
}

.logo-black {
    color: #000;
}

/* navigation menu */
.top-menu {
    width: 294px;
    height: 16px;
    margin-left: 93px;
    margin-top: 32px;
    margin-right: 282px;
    display: flex;
    justify-content: space-between;
}

.top-menu-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
}

.top-comm-box {
    height: 16px;
    margin-top: 32px;
    margin-right: 215px;
    /* display: flex; */
    /* justify-content: space-between;     */
}

.top-comm-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    
    margin-right: 50px;
}

.top-menu-item:hover,
.comm-item-top:hover {
    color: #2196F3;
}

/* шапка (сюди, чи у header?) */
.hat {
    width: 1600px;
    height: 600px;
    background-color: #2F303A;
    /* padding-top: 200px; */
    /* padding: 280px 452px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* flex-wrap: wrap; */
    padding-top: 200px;
}

.center-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    
    /* чому відступає до гори 200px від початку, а не від .hat? */
    /* margin: 200px 452px 30px 452px; */
}

.button {
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    
    /* margin-top: 30px; */
    border-radius: 4px;
    border: 0px;
    cursor: pointer;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    letter-spacing: 0.06em;
    color: #FFFFFF;
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* align-self: center; */
}



/* особливості */
.features {
    width: 1600px;
    height: 100px;

    margin: 94px 215px;
    display: flex;
    /* justify-content: space-around; */
}   

.features-boxes {
    margin-right: 30px;
    width: 270px;
}

.features-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

    margin-bottom: 10px;
}

.features-paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

/* чим ми займаємось */
.what-we-do {
    width: 1600px;
    height: 386px;
}

.h2-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    /* margin-top: 94px;
    margin-bottom: 50px; */
}

.img-box {
    /* width: 1600px; */
    display: flex;
    justify-content: space-around;
    margin: 0 215px;
}

/* наша команда */
.our-team {
    width: 1600px;
    height: 648px;
    background-color: #F5F4FA;

    /* margin-top: 94px; */

    /* padding-top має бути 94px, але в мене візуально виходить 24px
    чому так? */
    padding-top: 24px;
}

.team {
    display: flex;
    justify-content: space-around;
}

/* блок з фото і описом */
.team-item-box {
    width: 270px;
    height: 368px;
    background-color: #FFFFFF;
    
    margin-top: 50px;
    margin-bottom: 94px;
}

.person-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    margin-top: 30px;
}

.job-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

    margin-top: 10px;
}

/* footer */
.footer {
    width: 1600px;
    height: 252px;
    background-color: #2F303A;
}

.logo-footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #2196F3;
    
    margin-top: 60px;
    margin-left: 215px;
    text-decoration: none;
}

.logo-white {
    color: #FFF;
}



/* footer contacts */
.contacts {
    margin-top: 20px;
    margin-left: 215px;    
}

.address-line {
    width: 231px;
    height: 21px;
    left: 215px;
    top: 2208px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.communication-footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    margin-top: 9px;
}
